<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youku.player.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity
            android:name="com.youku.ui.activity.CachePageActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="download"
                    android:scheme="youku" />
            </intent-filter>
        </activity> 
        
        <activity
            android:name="com.youku.ui.activity.CacheSeriesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >
        </activity>   
        
        <activity
            android:name="com.youku.ui.activity.CacheActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >
        </activity>           
        
        

    </application>

</manifest>
