<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangxu.dota2helper">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.Activity.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>

    </application>

</manifest>
